<!DOCTYPE html>

<!-- V1 scrap -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="/static/main.js"></script> -->
<script type="module">
    import Chatify from "/scripts/api.js";

    window.chatAPI = new Chatify();
</script>
<head>
    <link rel="stylesheet" href="/css/chat.css">
    <!-- <link rel="icon" type="image/png" id="icon" href="/static/icon.png"> -->
</head>

<body>
    <div class="chat">
        housecat :3
        <div class="chatBar">
            <button id="sendButton">wtf man</button>
        </div>
    </div>
    <div class="sidebar">
        <div id="holderFUCK">
            <!-- sidebar garbage -->
            <div id="topSidebar">
                <p id="LOBBY_NAME">LOBBY NAME</p>
                <hr>
                <div id="LobbyControls">controls will exist here soon</div>
            </div>
            <!-- it go SCROLLLL -->
            <div class="channelSelector">
                <!-- just for now -->
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
                <button class="sidebarChannel">CHANNEL TEST</button>
            </div>
        </div>
        <!-- profile and version -->
        <div class="profileArea">
            <div class="profile">
                <img src="/static/default.jpg" id="photophoto"> <!-- cant remove, but rn theres no images... -->
                <p id="usernamePart">@example</p>
            </div>
            <p id="versionCopyright">TCOS v1.10</p>
        </div>
    </div>
</body>