<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<script src="/scripts/login.js" type="module"></script>

<!-- TODO:
    * make creating an account seperate because honestly id prefer it that way
-->

<body>
    <div id="loginContainer">
        <h1>Login</h1>
        <hr>
        <div class="inputTime">
            <p>Username:</p>
            <input id="user">
        </div>
        <div class="inputTime">
            <p>Password:</p>
            <input type="password" id="password">
        </div>
        <div class="loginControls">
            <input type="button" value="Login" id="login">
            <input type="button" value="Sign Up" id="signup">
        </div>
    </div>
</body>